html, body, * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body.light {
  --h1: black;


  background-color: #EEEEEE;
}

body.dark {
  --h1: white;

  background-color: rgb(34, 30, 30);
}


/* Header */

.lHeader {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header {
  max-width: 1000px;
  width: 100%;
  display: flex;
  
}

/* Header -> Switch */

.switchContainer {

}

.switchLabel {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switchLabel input {
  display: none;
}

.switchLabel .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 0.4s;
  background-color: gray;
  border-radius: 34px;
}

.slider::before {
  content: "";
  height: 25px;
  width: 25px;
  background-color: blue;
  transition: 0.4s;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 2px;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider::before {
  transform: translateX(26px);
}