html, body, * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

body.light {
  --h1: white;
  --h2: white;
  --header: rgb(135, 92, 255);

  --headingFont: 'Bebas Neue', cursive;

  background-color: white;
}

body.dark {
  --h1: white;

  background-color: rgb(34, 30, 30);
}


/* Header */

.lHeader {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--header);
  box-shadow: 0px 1px 5px black;
}

.header {
  max-width: 1000px;
  width: 100%;
  display: flex;
  height: min-content;
  padding: 0px 15px 0px 15px;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 120px;
  /* background-color: rgb(75, 23, 219); */
  border-radius: 5px;
}

.headingContainer {
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.headingContainer h1 {
  font-size: 2.5rem;
  color: var(--h1);
  text-shadow: 1px 1px 1px black;
  font-family: var(--headingFont);
}

.headingContainer h2 {
  margin-top: -13px;
  font-size: 1.9rem;
  font-family: var(--headingFont);
  color: var(--h2);
  text-shadow: 1px 1px 1px black;
}

/* Header -> Switch */

.switchContainer {

}

.switchLabel {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switchLabel input {
  display: none;
}

.switchLabel .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 0.4s;
  background-color: rgb(253, 253, 253);
  border-radius: 34px;
}

.slider::before {
  content: "";
  height: 25px;
  width: 25px;
  background-color: var(--header);
  transition: 0.4s;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 2px;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider::before {
  transform: translateX(26px);
}


/* Main */

.lMain {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main {
  max-width: 1000px;
  width: 100%;
  padding: 15px;
  
}

.introduction {
  display: flex;
  background-color: #929292;
  border-radius: 20px;
}

.introduction > div {
  padding: 15px;
}

.introduction > div > * {
  margin: 5px 0px 5px 0px;
}

.introduction h3 {
  margin-bottom: 10px;
  font-size: 1.6rem;
}

.introduction p {
  color: black;
  font-size: 1.2rem;
}

.photo {
  width: 300px;
  height: auto;
  border-radius: 20px;
  position: relative;
}
