#lFooter {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--footer);
  box-shadow: 0px 1px 5px black;
}

#footer {
  max-width: 1000px;
  width: 100%;
  display: flex;
  height: min-content;
  padding: 0px 15px 0px 15px;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

#footer p {
  width: 100%;
  color: white;
  text-align: center;
}

#footer a {
  color: greenyellow;
}
