
.lHeader {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--header);
  box-shadow: 0px 1px 5px black;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header {
  max-width: 1000px;
  width: 100%;
  display: flex;
  height: min-content;
  padding: 0px 15px 0px 15px;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 110px;
  border-radius: 5px;
}

.headingContainer {
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  order: 1;
}

.headingContainer h1 {
  font-size: 2.5rem;
  color: var(--h1);
  text-shadow: 1px 1px 1px black;
  font-family: var(--headingFont);
}

.headingContainer h2 {
  margin-top: -13px;
  font-size: 1.9rem;
  font-family: var(--headingFont);
  color: var(--h2);
  text-shadow: 1px 1px 1px black;
}

.headerNav {
  display: flex;
  font-size: 1.4rem;
  order: 2;
}

.headerNav a {
  padding: 5px 10px 5px 10px;
  color: var(--nav);
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
  transition: margin 500ms;
  text-shadow: 1px 1px 1px black;
}

.headerNav a:hover {
  margin-top: -5px;
  border-bottom: 3px solid rgb(110, 38, 204);
}

.headerNav a.active {
  color: orange;
}

.menuButton {
  display: none;
  background-color: transparent;
  border: 0px;
  outline: none;
  cursor: pointer;
}

.menu {
  width: 100%;
}

.switchContainer {
  order: 3;
  margin-top: 10px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switchContainer span {
  font-size: 0.8rem;
  margin-top: 5px;
  color: var(--p-color);
}

/* Switch */

.switchLabel {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switchLabel input {
  display: none;
}

.switchLabel .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 0.4s;
  background-color: rgb(253, 253, 253);
  border-radius: 34px;
}

.slider::before {
  content: "";
  height: 25px;
  width: 25px;
  background-color: var(--header);
  transition: 0.4s;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 2px;
}

input:checked + .slider {
  background-color: white;
}

input:checked + .slider::before {
  transform: translateX(26px);
}
