.lMain {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.main {
  max-width: 1000px;
  width: 100%;
  padding: 15px;
  
}

/* Introduction */

#introduction {
  display: flex;
  background-color: var(--secondary-bg);
  border-radius: 20px;
}

#introduction > div {
  padding: 15px;
}

#introduction > div > * {
  margin: 5px 0px 5px 0px;
}

#introduction h3 {
  margin-bottom: 5px;
  font-size: 1.6rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: var(--p-color);
}

#introduction p {
  text-align: justify;
  color: var(--p-color);
  font-size: 1.22rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;

}

.photo {
  width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
  position: relative;
  border: 15px solid var(--frame);
}

/* Skills */

.skills {
  margin-top: 50px;
  border-top: 1px solid rgb(53, 52, 52);
}

.skills h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
  color: var(--p-color);
}

.skill {
  margin-top: 25px;
  border-bottom: 1px dashed gray;
  padding-bottom: 25px;
}

.skill h3 {
  color: rgb(14, 71, 226);
  font-size: 2rem;
  
}

.technology {
  display: flex;
  padding: 10px;
  text-align: justify;
}

.technology.animated {
  animation-name: leftToRight;
  animation-duration: 500ms;
  animation-timing-function: ease;
}

.technology > div {
  margin-left: 10px;
  color: var(--p-color);
}

.technology h4 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: orange;
}

.technology img {
  width: 100px;
}

@keyframes leftToRight {
  0% { margin-left: -98% }
}