.lMain {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.main {
  max-width: 1000px;
  width: 100%;
  padding: 15px;
}

/* Introduction */

#introduction {
  display: flex;
  background-color: var(--secondary-bg);
  border-radius: 20px;
}

#introduction > div {
  padding: 15px;
}

#introduction > div > * {
  margin: 5px 0px 5px 0px;
}

#introduction h3 {
  margin-bottom: 5px;
  font-size: 1.6rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: var(--p-color);
}

#introduction p {
  text-align: justify;
  color: var(--p-color);
  font-size: 1.22rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.photo {
  width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
  position: relative;
  border: 15px solid var(--frame);
}

/* Skills */

.skills {
  margin-top: 50px;
  border-top: 1px solid rgb(53, 52, 52);
}

.h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
  color: var(--p-color);
}

.skill {
  margin-top: 25px;
  border-bottom: 1px dashed gray;
  padding-bottom: 25px;
}

.skill h3 {
  color: rgb(14, 71, 226);
  font-size: 2rem;
}

.technology {
  display: flex;
  opacity: 0;
  padding: 10px;
  text-align: justify;
}

.technology.animated {
  opacity: 1;
  animation-name: leftToRight;
  animation-duration: 500ms;
  animation-timing-function: ease;
}

.technology > div {
  margin-left: 10px;
  color: var(--p-color);
}

.technology h4 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: orange;
}

.technology img {
  width: 100px;
}

@keyframes leftToRight {
  0% {
    margin-left: -98%;
  }
}

.grid-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 300px);
  row-gap: 50px;
  column-gap: 50px;
  place-items: center;
  padding: 10px 50px 10px 50px;
  margin-top: 20px;
}

#projects h2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.project {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.project::after {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 90%;
  top: 10%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: block;
  opacity: 0;
  transition: 300ms;
}

.project:hover::after {
  opacity: 1;
}

.project:hover h3 {
  display: flex;
}

.project h3 {
  display: none;
  position: absolute;
  color: white;
  top: 0px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.project .info {
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  color: orange;
  background-color: rgb(24, 24, 24);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-items: center;
}

.project img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.project img#ccimg {
  height: 90%;
  object-fit: contain;
}

.span2 {
  grid-row: 2 / span 2;
}
