@media (max-width: 1000px) {
  .menuButton {
    display: block;
  }
  .headerNav a {
    display: none;
  }
  .switchContainer {
    display: none;
  }
}

@media (max-width: 850px) {
  #introduction h3 {
    font-size: 1.3rem;
  }
}

@media (max-width: 750px) {
  #introduction h3 {
    font-size: 1.2rem;
  }

  #introduction p {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  #introduction {
    display: block;
  }
  .photo {
    margin: 0px 15px 15px 0px;
    float: left;
    border-radius: 20px 0px 0px 0px;
  }
  .headingContainer h1 {
    font-size: 2rem;
  }
  .headingContainer h2 {
    font-size: 1.55rem;
    margin-top: -9px;
  }
  .logo {
    height: 90px;
  }
  .header {
    height: 90px;
  }
  body {
    padding-top: 90px;
  }

  #project-data section main {
    width: 100%;
  }
  #project-data section aside {
    margin-top: 15px;
    height: 50px;
    float: left;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 0;
  }
  #project-data section aside > a {
    margin: 0;
  }
}

@media (max-width: 500px) {
  #introduction {
    display: flex;
    flex-direction: column;
  }
  .photo {
    margin: 0px;
    border-top: 0px;
    align-self: center;
    border-radius: 0px 0px 20px 20px;
  }
  .headingContainer {
    margin-left: 7.5px;
  }
  .headingContainer h1 {
    font-size: 1.7rem;
  }
  .headingContainer h2 {
    font-size: 1.3rem;
  }
  .logo {
    height: 70px;
  }
  .header {
    height: 70px;
  }
  body {
    padding-top: 70px;
  }
  .menuButton {
    width: 30px;
  }

  .technology {
    flex-direction: column;
    padding: 10px 3px 10px 3px;
  }
  .technology p {
    margin-left: 0px;
  }
  .technology img {
    width: 30px;
    margin-bottom: -30px;
    margin-left: 10px;
  }
  .technology h4 {
    margin-left: 40px;
  }

  .grid-projects {
    padding: 10px 15px 10px 15px;
  }

  #project-data h3 {
    margin-right: 30px;
  }
}

@media (max-width: 370px) {
  .photo {
    width: 250px;
  }
  .menuButton {
    width: 30px;
  }
  .headingContainer h1 {
    font-size: 1.5rem;
  }
  .headingContainer h2 {
    font-size: 1.15rem;
    margin-top: -7px;
  }

  #project-data h3 {
    font-size: 1.3rem;
  }
}
