.menuAside {
  display: none;
  flex-direction: column;
  position: fixed;
  width: 250px;
  height: 100vh;
  background-color: var(--menu-bg-color);
  top: 0px;
  right: 0px;
  z-index: 30;

  animation-name: show;
  animation-duration: 200ms;
}

.menuAside a {
  padding: 3px;
  margin: 5px 0px 5px;
  border-bottom: 1px solid gray;
  color: var(--menu-color);
  margin: 10px;
}

.menuAside .switchContainer2 {
  margin-top: 10px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switchContainer2 span {
  font-size: 0.9rem;
  margin-top: 5px;
  color: var(--menu-color);
}

span .on {
  color: green;
}

span .off {
  color: red;
}

.menuAside.open {
  display: flex;
}

.menuHeader {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  border-bottom: 1px solid gray;
  padding: 10px;
  margin-bottom: 10px;
  height: 100px;
}

.closeButton {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 2.5rem;
  text-align: right;
  font-family: 'Quicksand', sans-serif;
  width: 50px;
  margin-left: auto;
  margin-top: 15px;
  cursor: pointer;
}

.close {
  width: 100%;
}

@keyframes show {
  from {right: -200px}
  to {right: 0px}
}
