#project-data {
  display: none;
  position: fixed;
  top: 0px;
  left: 50%;
  margin-top: 105px;
  min-height: 300px;
  height: calc(95% - 105px);
  width: 90%;
  max-width: 1000px;
  transform: translateX(-50%);
  background-color: white;
  z-index: 30;
  background-color: #1d1d1d;
  overflow-y: scroll;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid black;
}

#project-data header {
  display: flex;
  color: white;
  height: 60px;
  width: 100%;
  box-shadow: 0px 0px 10px black;
}

#project-data button {
  margin-right: 10px;
  position: absolute;
  right: 0px;
  top: -5px;
  width: 40px;
}

#project-data h3 {
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

#project-data section {
  display: block;
  flex-direction: row;
}

#project-data main {
  padding: 15px;
  text-align: justify;
  width: calc(100% - 160px);
  float: left;
  margin-top: 15px;
}

#project-data aside {
  padding: 0px 15px 0px 15px;
  float: right;
  width: 160px;
  border-left: 1px solid rgb(58, 58, 58);
  height: 100%;
  display: flex;
  flex-direction: column;
}

#project-data h4 {
  font-size: 1.6rem;
  color: rgb(14, 71, 226);
  margin-bottom: 10px;
}

#project-data p {
  margin-bottom: 15px;
  color: white;
  font-size: 1rem;
  display: inline;
}

#project-data main a {
  color: greenyellow;
}

#project-data main h5 {
  font-size: 1.3rem;
  color: orange;
}

#project-data main ul > ul > li {
  margin-left: 20px;
}

#project-data main > ul {
  list-style-type: none;
}

#project-data ul > ul {
  list-style-type: disc;
  color: white;
}

#project-data aside > a {
  width: 130px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
  align-items: center;
  height: 40px;
  color: white;
  text-transform: uppercase;
  box-shadow: 1px 1px 3px black;
  font-family: 'Bebas Neue', cursive;
  font-weight: 100;
  font-size: 1.3rem;
  transition-duration: 0.5s;
}

._1 {
  margin-top: 35px;
  background-color: rgb(1, 88, 202);
  order: 1;
}

._1:hover {
  background-color: rgb(0, 40, 173);
}

._2 {
  margin-top: 10px;
  background-color: rgb(5, 151, 0);
  order: 2;
}

._2:hover {
  background-color: rgb(24, 122, 0);
}

#project-data aside > a > svg {
  margin-right: 5px;
}

#project-data aside > a:hover {
  box-shadow: 5px 5px 25px black;
  transform: translateY(-7.5px) scale(1.05);
}

.showcaseContainer {
  padding: 15px;
}

.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.showcaseContainer .img-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  column-gap: 10px;
  width: 100%;
  justify-items: center;
  align-items: stretch;
}

.showcaseContainer .img-container img {
  border-radius: 10px;
  width: 100%;
}
