#project-data {
  display: none;
  position: fixed;
  top: 0px;
  left: 50%;
  margin-top: 105px;
  min-height: 300px;
  height: calc(95% - 105px);
  width: 90%;
  max-width: 1000px;
  transform: translateX(-50%);
  background-color: white;
  z-index: 30;
  background-color: #1d1d1d;
}
