#project-data {
  display: none;
  position: fixed;
  top: 0px;
  left: 50%;
  margin-top: 105px;
  min-height: 300px;
  height: calc(95% - 105px);
  width: 90%;
  max-width: 1000px;
  transform: translateX(-50%);
  background-color: white;
  z-index: 30;
  background-color: #1d1d1d;
  overflow-y: scroll;
  flex-direction: column;
}

#project-data header {
  display: flex;
  color: white;
  height: 60px;
  width: 100%;
}

#project-data button {
  margin-right: 15px;
  width: 40px;
}

#project-data h3 {
  flex-grow: 1;
  text-align: center;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

#project-data main {
}
